<div class="landing-page {{contentClass}}">
  {{#if siteSettings.invite_only}}
    <div class="launch-landing">
      <a name="banner"></a>
      {{site-banner showCta=true}}
    </div>
  {{/if}}
  {{outlet 'content'}}
  <div class="centered">
    {{landing-footer}}
  </div>
</div>
