<input id="{{id}}" type="tel">
<span id="valid-msg" class="hide success">{{{i18n 'landing.contact.phone.valid'}}}</span>
<span id="error-msg" class="hide fail">{{{i18n 'landing.contact.phone.invalid'}}}</span>
