.landing-page.start {
  padding: 0;

  .top {
    flex-direction: column;
  }

  .sign-up {
    .modal-body {
      padding: 5px 15px;
    }
  }

  .create-account {
    .modal-body {
      max-height: initial;
    }

    table {
      width: 100%;
    }

    tr td {
      width: 100%;
      display: block;
      clear: both;
    }

    input {
      width: 100%;
      box-sizing: border-box;
    }

    .modal-footer .btn {
      font-size: 1em;
    }
  }

  .main {
    padding: 40px 20px;
    margin-bottom: 0;
    margin-right: 0;

    .large {
      margin: 0;
    }
  }

  .links {
    justify-content: initial;
    flex-wrap: wrap;
    margin-top: 20px;

    .p-text {
      margin: 15px 0;
      font-size: 1.2em;
      width: 100%;

      img, i {
        float: left;
        display: initial;
        margin-left: 10px;
        margin-right: 15px;
      }

      a, span {
        overflow: hidden;
        display: block;
      }
    }

    &.sentences {
      margin-top: 0;
    }
  }

  .centered {
    margin-top: 10px;
  }

  .map-component {
    width: 90vw;
    height: 80vh;
    margin-top: 10px;
  }

  .locale-selection {
    margin-top: 10px;
  }

  .contact {
    left: 20px;
  }
}

.landing-footer {
  margin-top: 60px;
  padding: 20px;
  flex-wrap: wrap;

  .footer-left {
    padding: 20px;
  }

  .footer-disclaimer {
    padding-left: 0;
    padding-top: 20px;
    clear: both;

    .p-link {
      background-image: none;
      text-decoration: underline;
    }
  }
}

.landing-contact {
  display: block;

  .modal-body {
    padding: 15px;
    display: block;
  }

  .input {
    width: 100%;
  }

  input, .contact-message {
    box-sizing: border-box;
    width: 100% !important;
  }

  #contact-phone, .intl-tel-input {
    width: 100%;
  }
}

.landing-page {
  padding-top: 40px;

  .p-text.title {
    margin-bottom: 40px;
  }

  .landing-statement {
    flex-direction: column;
    margin-bottom: 40px;

    .text-container {
      max-width: 100%;
      padding: 10px;
      order: 0;
    }

    .landing-image {
      margin: 0;
      padding-top: 20px;

      img {
        max-width: 90vw;
      }
    }
  }

  .landing-paragraph {
    margin-bottom: 50px;

    .landing-diagram {
      margin-top: 50px;
      padding: 0;
    }
  }
}
