.landing-page.start {
  padding: 0;

  .alert {
    margin-bottom: 0;
  }

  .title {
    margin: 10px 0;
  }

  .top {
    flex-direction: column;
    margin: 20px 0;
    display: flex;
  }

  .right {
    .modal-body {
      padding: 5px 10px;
    }

    .launch .modal-footer {
      padding: 15px 10px;
    }

    .modal-footer {
      padding: 15px;
    }

    @media all and (max-width: 350px) {
      .static-image {
        display: none;
      }
    }

    .static-image {
      top: -30px;
      right: 30px;

      img {
        width: 55px;
      }
    }
  }

  .create-account {
    .modal-body {
      max-height: initial;
    }

    tr td {
      width: 100%;
      display: block;
      clear: both;
    }

    input {
      width: 100%;
      box-sizing: border-box;
    }

    .modal-footer .btn {
      font-size: 1em;
    }

    .login-form .tip:not(:empty), .login-form .tip:empty+td {
      width: 100%;
    }
  }

  .top.invite-only .main {
    margin-bottom: 0;
  }

  .main {
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 0;

    .large {
      margin: 0;
    }
  }

  .left {
    justify-content: initial;
    flex-wrap: wrap;
    margin-top: 0;

    .p-text.medium {
      width: 100%;
      margin: 20px 0;

      img, i {
        float: left;
        display: initial;
        margin-left: 10px;
        margin-right: 15px;
      }

      a, span {
        overflow: hidden;
        display: block;
      }
    }

    &.sentences {
      margin-top: 0;
    }
  }

  .centered {
    margin-top: 10px;
  }

  .map-component {
    width: 90vw;
    height: 80vh;
    margin-top: 10px;
  }

  .locale-selection {
    width: 100%;
    border-top: 1px solid $primary-low;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.15);
    background-color: $secondary;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 10px 8px 10px;
    z-index: 100;

    a, .btn {
      font-size: 0.9em;
    }

    .btn {
      padding: 3px 6px;
    }

    .hidden-locales {
      max-width: 90vw;
      max-height: 70vh;
      right: initial;
    }
  }

  .contact {
    left: 20px;
  }

  .story {
    margin-top: 40px;

    .modal-footer {
      padding: 15px;
    }
  }
}

.landing-footer {
  margin-top: 60px;
  padding: 20px;
  flex-wrap: wrap;

  .footer-left {
    padding: 20px;
  }

  .footer-disclaimer {
    padding-left: 0;
    padding-top: 20px;
    clear: both;

    .p-link {
      background-image: none;
      text-decoration: underline;
    }
  }
}

.landing-contact {
  display: block;

  .modal-body {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }

  .input {
    width: 100%;
  }

  input, .contact-message {
    box-sizing: border-box;
    width: 100% !important;
  }

  #contact-phone, .intl-tel-input {
    width: 100%;
  }

  .p-text.large {
    margin-top: 0;
  }
}

.landing-page {
  padding-top: 40px;

  .landing-statement {
    flex-direction: column;
    margin-bottom: 40px;

    .text-container {
      max-width: 100%;
      padding: 10px;
      order: 0;
    }

    .landing-image {
      margin: 0;
      padding-top: 20px;

      img {
        max-width: 90vw;
      }
    }
  }

  .landing-paragraph {
    margin-bottom: 50px;

    .landing-diagram {
      margin-top: 50px;
      padding: 0;
    }
  }
}

.landing-page.organisations {
  padding-top: 0;

  > .text {
    padding-top: 40px;
    width: 95%;

    > div.landing-contact {
      padding: 5px;
      width: 100%;
    }

    .subtitle {
      margin-bottom: 30px;
    }

    .modal-footer {
      padding: 15px;
    }
  }
}
