@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

.landing-page {
  font-family: 'Montserrat', sans-serif;
  padding-top: 80px;

  .p-text {
    letter-spacing: 1.2px;
  }

  &.centered {
    text-align: center;
  }

  .centered {
    text-align: center;
    width: 100%;

    .p-text {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      max-width: 780px;
    }

    .tagline {
      margin-top: 10px;
      margin-bottom: 0;
    }

    .sign-up {
      display: inline-block;
      background-color: $secondary;

      .p-text {
        width: 100%;
      }
    }
  }

  &.start {
    padding-top: 40px;

    .top {
      display: flex;
    }

    .main {
      margin-bottom: 70px;
      margin-right: 50px;
      flex: 1;

      .large {
        margin-bottom: 40px;
      }

      .animated-link {
        margin-bottom: 70px;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      background-color: $secondary;

      .p-text {
        margin: 30px 0;

        > * {
          display: inline-block;
          vertical-align: middle;
        }
      }

      a, span {
        color: $primary;
      }
    }

    .locale-selection {
      position: relative;
      margin-top: 40px;

      a {
        margin-right: 6px;
        font-size: 1.1em;
      }

      .hidden-locales {
        position: absolute;
        width: 300px;
        background-color: $secondary;
        border: 1px solid $primary-low;
        box-shadow: shadow('dropdown');
        bottom: 35px;
        padding: 5px 7px;
        right: -5px;

        ul {
          list-style: none;
          margin: 0;
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;

          li {
            margin: 3px 0;
          }
        }
      }
    }

    img.emoji, {
      width: 35px;
      height: 35px;
      margin-right: 5px;
    }

    .bottom {
      position: relative;
    }

    .background-image {
      position: absolute;
      left: 0;
      top: -200px;
      z-index: -1;
      width: 100%;
      text-align: center;

      img {
        width: 100%;
      }
    }

    .contact {
      position: fixed;
      z-index: 998;
      bottom: 20px;
      left: 20px;

      .btn {
        box-shadow: shadow("dropdown");
      }
    }
  }

  .image-container {
    flex: 0 1 auto;
  }

  .description {
    font-size: 20px;
    line-height: 30px;
  }

  .map-component {
    display: inline-block;
    width: 80%;
    height: 70vh;
    max-height: 700px;
    margin-top: 50px;

    .locations-map.expanded {
      width: 100%;
    }
  }

  .sign-up {
    max-width: 440px;
    text-align: left;

    &>.p-text {
      padding: 0 15px;
    }

    .combo-box {
      width: 242px;
    }
  }

  .create-account tr {
    white-space: nowrap;

    td {
      vertical-align: top;

      &.label {
        padding-top: 15px;
      }

      .tip {
        margin-top: 4px;
        display: block;
        white-space: initial;

        i {
          height: 19px;
        }
      }
    }

    &.instructions label {
      line-height: 1.5;
    }
  }

  .create-account .password-confirmation {
    display: none;
  }
}

.landing-footer {
  margin-top: 100px;
  background-color: dark-light-diff($primary, $secondary, 95%, -65%);
  border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
  display: flex;
  margin-left: auto;
  margin-right: auto;

  .p-text.small {
    font-size: 14px;
    line-height: 25px;
  }

  .footer-left {
    padding: 30px;
  }

  .footer-left img {
    margin-right: 20px;
  }

  .footer-links {
    border-left: 2px solid $tertiary;
    padding: 0 25px;
    list-style: none;
    overflow: hidden;
    margin: 0;
  }

  .footer-disclaimer {
    padding: 30px;
    flex: 1;

    > div:first-of-type {
      margin-bottom: 7px;
      border-bottom: 2px solid $tertiary;
    }
  }
}

.animated-link {
  a {
    background-image: linear-gradient(180deg, transparent 90%, $tertiary 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    color: $primary;
    transition: background-size .4s ease;
  }

  a:hover {
    background-size: 100% 100%;
    cursor: pointer;
  }
}

.landing-image img {
  max-height: 500px;
  max-width: 500px;
}

.landing-caption {
  margin-top: 5px;
  font-size: 13px;
}

.landing-statement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  &.last {
    margin-bottom: 0;
  }

  .text-container {
    order: 1;
    max-width: 45%;
  }

  .landing-image {
    &.right {
      order: 2;
      margin-left: 80px;
    }

    &.left {
      order: 0;
      margin-right: 80px;
    }
  }
}

.landing-paragraph {
  margin-bottom: 100px;
}

.landing-diagram {
  margin-top: 100px;
  padding: 0 50px;
  display: inline-block;

  .p-text {
    text-align: center;
    margin-bottom: 20px;
  }
}

.modal .landing-contact {
  width: 100%;

  .modal-body {
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
    display: block;
  }

  .modal-footer {
    padding: 15px;
  }
}

.landing-contact {
  text-align: left;
  display: inline-block;
  width: 350px;

  .type-buttons {
    margin-bottom: 15px;

    .btn {
      margin-right: 10px;
    }
  }

  .modal-body {
    display: inline-block;
    overflow: initial;
    max-height: initial;
    padding: initial;
  }

  .input.message {
    padding: 0;
  }

  input:not(#contact-phone), .contact-message {
    padding: 7px 10px;
    width: 350px;
  }

  textarea.contact-message {
    width: 350px;
    margin-top: 10px;
  }

  #contact-phone {
    line-height: 28px !important;
    width: 372px;
  }

  input {
    line-height: 22px !important;
    height: initial !important;
  }

  .p-text {
    margin-bottom: 30px;
    margin: 30px 0 !important;
  }

  .input {
    height: 80px;

    input {
      margin-bottom: 0;
    }

    label {
      font-size: 1em;

      span {
        margin-left: 2px;
        color: $danger;
      }
    }

    span {
      margin: 5px 0;
    }

    .success {
      color: $success;
    }

    .fail {
      color: $danger;
    }

    &.email .fail {
      margin: 5px 0;
    }

    &.phone {
      margin-top: 5px;
    }

    &.institution {
      margin-top: 5px;
    }
  }

  .modal-footer {
    padding: 15px 0;
    margin-top: 10px;
  }

  #contact-phone {
    .iti-flag {
      background-image: url("/plugins/civically-landing-page/images/flags.png") !important;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .iti-flag {
        background-image: url("/plugins/civically-landing-page/images/flags@2x.png") !important;
      }
    }
  }

  .contact-message {
    height: 100px;
  }
}

.scroll-to-map {
  margin-top: 40px;
  cursor: pointer;

  .p-text {
    background-color: $secondary;
  }
}

.intl-tel-input .country-list {
  bottom: 100% !important;
  margin-bottom: -1px !important;
}
